{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="container-fluid">
  <div class="row"  >
    <div class="col-md-2">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"  align="center">直播入口</h3>
              </div>

                <ul class="list-group" >
                  <li class="list-group-item">

                    <img src="{%static 'team_logo/LAL.png'%}" width="25" height="25" >

                    <img src="{%static 'team_logo/HOU.png'%}" width="25" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>

                  </li>
                    <li class="list-group-item">

                    <img src="{%static 'team_logo/CLE.png'%}" width="35" height="25" >

                    <img src="{%static 'team_logo/GSW.png'%}" width="35" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>

                  </li>
                </ul>

            </div>
          </div>
        </div>
    </div>
    <div class="col-md-9">
      <ul id="myTab" class="nav nav-tabs ">
          <li class="active">
              <a href="#NBA" data-toggle="tab">
                   NBA中国
              </a>
          </li>
          <li>
              <a href="#hoop" data-toggle="tab">
                  虎扑滚动新闻
              </a>
          </li>

      </ul>


      <div id="myTabContent" class="tab-content">
        <div class="row tab-pane fade in active" id="NBA">
          <div class="col-md-7" >
            <div id="myCarousel" class="carousel slide" >
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                  {% for v in News_list0 %}
                    <div class="item active">
                        <img src={{v.img_src}} width="100%" height="100%" alt="First slide" >
                        <div class="carousel-caption"><a style="color:#ffffff;font-family:verdana;font-size:160%;" href={{v.url}}>{{v.title}}</a></div>
                    </div>
                  {% endfor %}
                  {% for v in News_list1 %}
                    <div class="item">
                        <img src={{v.img_src}} width="100%" height="100%" alt="First slide" >
                        <div class="carousel-caption"><a target="_blank" style="color:#ffffff;font-family:verdana;font-size:160%;" href={{v.url}}>{{v.title}}</a></div>
                    </div>
                  {% endfor %}
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
          </div>
          <div class="col-md-4">


              <!-- Table -->
              <table class="table ">
                <tbody>
                {% for v in News_list2 %}
                  <tr><td><a class="shenglue" style="color:#000000;" target="_blank" href="{{v.url}}"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{v.title}}</a></td></tr>
                {%endfor%}
                </tbody>
              </table>

          </div>
        </div>
        <div class="tab-pane fade " id="hoop">
            <div class="row">
                <div class="col-md-4">
                    <table class="table ">
                        <tbody>
                        {% for v in Hoop_left %}
                          <tr><td><a class="shenglue" style="color:#000000;" target="_blank" href="{{v.url}}"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{v.title}}</a></td></tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table ">
                        <tbody>
                        {% for v in Hoop_center %}
                          <tr><td><a class="shenglue" style="color:#000000;" target="_blank" href="{{v.url}}"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{v.title}}</a></td></tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table ">
                        <tbody>
                        {% for v in Hoop_right %}
                          <tr><td><a class="shenglue" style="color:#000000;" target="_blank" href="{{v.url}}"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{v.title}}</a></td></tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
{% endblock main %}