{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="container-fluid">
  <div class="row"  >
    <div class="col-md-2">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title" style="color:red;" align="center">赛况播报</h3>
              </div>

                <ul class="list-group">
                  <li class="list-group-item">
                    <small></small>
                    <img src="{%static 'team_logo/LAL.png'%}" width="35" height="25" >
                    <span>直播</span>
                    <img src="{%static 'team_logo/HOU.png'%}" width="35" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>
                      <span style="color: red;"><b>88</b></span>
                      <span style="color: red; float:right;"><b>88</b></span>
                  </li>
                    <li class="list-group-item">
                    <small></small>
                    <img src="{%static 'team_logo/CLE.png'%}" width="35" height="25" >
                    <span>直播</span>
                    <img src="{%static 'team_logo/GSW.png'%}" width="35" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>
                      <span style="color: red;"><b>88</b></span>
                      <span style="color: red; float:right;"><b>88</b></span>
                  </li>
                    <li class="list-group-item">
                    <small></small>
                    <img src="{%static 'team_logo/CLE.png'%}" width="35" height="25" >
                    <span>直播</span>
                    <img src="{%static 'team_logo/GSW.png'%}" width="35" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>
                      <span style="color: red;"><b>88</b></span>
                      <span style="color: red; float:right;"><b>88</b></span>
                  </li>
                    <li class="list-group-item">
                    <small></small>
                    <img src="{%static 'team_logo/CLE.png'%}" width="35" height="25" >
                    <span>直播</span>
                    <img src="{%static 'team_logo/SAS.png'%}" width="35" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>
                      <span style="color: red;"><b>88</b></span>
                      <span style="color: red; float:right;"><b>88</b></span>
                  </li>
                    <li class="list-group-item">
                    <small></small>
                    <img src="{%static 'team_logo/HOU.png'%}" width="35" height="25" >
                    <span>直播</span>
                    <img src="{%static 'team_logo/BOS.png'%}" width="35" height="25" style="float:right;">
                      <center><small>09-02 8:00</small></center>
                      <span style="color: red;"><b>88</b></span>
                      <span style="color: red; float:right;"><b>88</b></span>
                  </li>

                </ul>

            </div>
          </div>
        </div>
    </div>
    <div class="col-md-9">
      <ul id="myTab" class="nav nav-tabs ">
          <li class="active">
              <a href="#NBA" data-toggle="tab">
                   NBA中国
              </a>
          </li>
          <li><a href="#hoop" data-toggle="tab">虎扑篮球</a></li>
          <li class="dropdown">
              <a href="#" id="myTabDrop1" class="dropdown-toggle"
                 data-toggle="dropdown">Java
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                  <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                  <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
              </ul>
          </li>
      </ul>


      <div id="myTabContent" class="tab-content">
        <div class="row tab-pane fade in active" id="NBA">
          <div class="col-md-7" >
            <div id="myCarousel" class="carousel slide" >
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                  {% for v in News_list0 %}
                    <div class="item active">
                        <img src={{v.img_src}} width="100%" height="100%" alt="First slide" >
                        <div class="carousel-caption"><a style="color:#ffffff;font-family:verdana;font-size:160%;" href={{v.url}}>{{v.title}}</a></div>
                    </div>
                  {% endfor %}
                  {% for v in News_list1 %}
                    <div class="item">
                        <img src={{v.img_src}} width="100%" height="100%" alt="First slide" >
                        <div class="carousel-caption"><a style="color:#ffffff;font-family:verdana;font-size:160%;" href={{v.url}}>{{v.title}}</a></div>
                    </div>
                  {% endfor %}
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
          </div>
          <div class="col-md-5">


              <!-- Table -->
              <table class="table ">
                <tbody>
                {% for v in News_list2 %}
                  <tr><td><span class="glyphicon glyphicon-link" aria-hidden="true"></span><a style="color:#000000;" href="{{v.url}}">  {{v.title}}</a></td></tr>
                {%endfor%}
                </tbody>
              </table>

          </div>
        </div>
        <div class="tab-pane fade" id="hoop">
            <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
{% endblock main %}