{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="row">
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<div class="panel-group" id="accordion">

					{% for key,value in luxiang.items %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
								   href="#collapseOne">
									{{key}}
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse ">
							<div class="panel-body">
								<ul class="list-group">
								{% for u in value %}
									<li class="list-group-item"><a href="{{u.url}}" target="_blank">{{u}}</a></li>
								{% endfor %}

								</ul>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main %}