{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="row">
    <div class="col-md-2"></div>

  <div class="col-md-8">
    <table class="table table-hover ">
      <caption></caption>
      <thead>
        <tr>
          <th>赛事</th>

          <th></th>
          <th>时间</th>
        </tr>
      </thead>
      <tbody>
        {% for jrs in jrs_list %}
        <tr>
          <td>{{jrs.game_tag}}</td>
          <td>
              <img src={{jrs.first_team_logo}} width="30" height="30" >
              <small>{{jrs.first_team_name}}</small>
          </td>
          <td>{{jrs.game_time}}</td>
          <td>

              <small >{{jrs.second_team_name}}</small>
              <img src={{jrs.second_team_logo}} width="30" height="30" >
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock main %}